# ~/.gitconfig

[include]
	path = ~/.gitconfig.local
	path = ~/.gitconfig.secret

[user]
	name = earnest ma
	email = me@earne.link
	signingkey = 80AE985F9B4E3FB438E192996B361FA81C5FB695

[color]
	ui = true

[core]
	autocrlf = false
	quotepath = false
	commitGraph = true
	longpaths = true
	editor = emacsclient -c --server-file=personal -a emacs

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[status]
	submodulesummary = true

[gc]
	writeCommitGraph = true

[fetch]
	prune = true

[pull]
	ff = only

[credential]
	helper = store

# Stored in ~/.gitconfig.secret
# [sendemail]
#	smtpserver = mail.example.com
#	smtpuser =
#	smtpencryption = tls
#	smtpserverport = 587
#	smtpPass =
#	annotate = yes
# [imap]
#	host = imaps://mail.example.com
#	user =
#	pass =
#	port = 993

[alias]
	checkup = !git log -1 && (git fetch --all 2>/dev/null || true) && git status
	fuckit = reset --hard
	setup = !git init && git commit --allow-empty -m \"Initial commit\"

